//target all touch devices (you can combine regular and touch bp)
@mixin breakpoint-touch($orientation: "") {
  @if $orientation != "" {
    @media (hover: none), (pointer: coarse) and (orientation: $orientation) {
      @content;
    }
  } @else {
    @media (hover: none), (pointer: coarse) {
      @content;
    }
  }
}

@mixin breakpoint($size: "") {
  $MEDIA-MIN: map-get($media-min-dimensions, $size);
  $MEDIA-MAX: map-get($media-max-dimensions, $size);

  @if $size == xs {
    @media only screen and (max-width: $MEDIA-MAX) {
      @content;
    }
  } @else if $size == lg {
    @media only screen and (min-width: $MEDIA-MIN) {
      @content;
    }
  } @else {
    @media only screen and (min-width: $MEDIA-MIN) and (max-width: $MEDIA-MAX) {
      @content;
    }
  }
}

@mixin breakpoint-max($size) {
  @media only screen and (max-width: map-get($media-max-dimensions, $size)) {
    @content;
  }
}

@mixin breakpoint-min($size) {
  @media only screen and (min-width: map-get($media-min-dimensions, $size)) {
    @content;
  }
}

@mixin opacity-transition() {
  transition: opacity 0.1s ease-out;
}

@mixin hover-opacity() {
  opacity: 0.8;
  @include opacity-transition;

  &:hover {
    opacity: 1;
  }
}

@mixin hide-scrollbar() {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
    background: transparent;
  }
}

@mixin aspect-ratio($width, $height) {
  position: relative;

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }

  > .in {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
